.header {
  width: 100vw;
  background-color: skyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: orangered;
}

.header h3 {
  font-size: 2rem;
  margin: .50rem
}

.navbar {
  display: flex;
}

.link {
  list-style-type: none;
  padding-right: .5rem;
  padding-left: 1rem;
  font-size: 1.25rem;
}